<!-- Links -->
<h6 class="text-uppercase fw-bold mb-4">
    Contact {{ short_business_name }}
</h6>
<div class="d-flex align-items-center justify-content-center justify-content-lg-start mb-3"><i class="fas fa-building me-3"></i><div>{{ business_address_1 }}<br>{{ business_address_2 }}</div></div>
<p>
    <i class="fas fa-envelope me-3"></i>
    <a href="mailto:{{ business_email }}">{{ business_email }}</a>
</p>
<p><i class="fas fa-phone me-3"></i><a href="tel:{{ business_phone }}">{{ business_phone }}</a></p>